appdirs==1.4.3
appnope==0.1.0
APScheduler==3.6.1
asn1crypto==0.24.0
astroid==2.0.4
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
Babel==2.6.0
backcall==0.1.0
black==19.3b0
boto3==1.9.141
botocore==1.12.141
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
cryptography==2.3
decorator==4.4.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.24
django-apscheduler==0.3.0
django-cors-headers==3.0.2
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
django-extensions==2.1.9
django-filter==2.1.0
django-filters==0.2.1
django-phone-field==1.8.0
django-phonenumber-field==2.3.1
django-redis==4.10.0
django-restframework==0.0.1
django-silk==3.0.2
django-storages==1.7.1
django-taggit==1.1.0
django-taggit-serializer==0.1.7
django-templated-mail==1.1.1
djangorestframework==3.9.2
djangorestframework-simplejwt==4.3.0
djoser==1.5.1
docusign-esign==1.0.3
docutils==0.14
entrypoints==0.3
factory-boy==2.12.0
Faker==1.0.7
flake8==3.7.7
Flask==1.0.2
Flask-OAuthlib==0.9.5
Flask-WTF==0.14.2
future==0.17.1
gprof2dot==2017.9.19
gunicorn==19.9.0
httpie==1.0.3
idna==2.7
importlib-metadata==0.18
ipdb==0.12
ipython==7.5.0
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==0.24
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.4
jwcrypto==0.5.0
lazy-object-proxy==1.3.1
lz4==2.1.10
MarkupSafe==1.0
mccabe==0.6.1
mock==3.0.5
more-itertools==7.0.0
oauthlib==2.1.0
observable==0.3.2
packaging==19.0
parso==0.4.0
pendulum==2.0.3
pexpect==4.7.0
phonenumbers==8.10.10
pickleshare==0.7.5
Pillow==6.2.1
pipenv==2018.7.1
pluggy==0.12.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pubnub==4.1.6
py==1.8.0
py-oauth2==0.0.10
pycodestyle==2.5.0
pycparser==2.18
pycryptodome==3.9.0
pycryptodomex==3.8.2
pyflakes==2.1.1
Pygments==2.4.0
PyJWT==1.7.1
pylint==2.1.1
pyparsing==2.4.0
pytest==4.6.3
pytest-django==3.5.0
python-dateutil==2.7.3
python-decouple==3.1
python-http-client==3.1.0
python3-openid==3.1.0
pytz==2019.1
pytzdata==2018.5
redis==3.2.1
requests==2.22.0
requests-oauthlib==1.0.0
rest-condition==1.0.3
rest-social-auth==2.2.0
ringcentral==0.7.11
s3transfer==0.2.0
sendgrid==6.0.5
six==1.11.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
text-unidecode==1.2
toml==0.10.0
traitlets==4.3.2
tzlocal==2.0.0
urllib3==1.24.3
virtualenv==16.0.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
Werkzeug==0.16.0
whitenoise==4.1.2
wrapt==1.10.11
WTForms==2.2.1
zipp==0.5.1
